*{
    box-sizing: border-box;
}

body{
    background: lightgray;
}

.container{
    margin: 2rem;
    text-align: center;
    font-weight: bold;
}

.Movies{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, .02);
    padding: 2rem;
}

.search{
    display: flex;
    justify-content: center;
    border-radius: 2cm;
}

.search input{
    border-radius: 2cm;
    border: none;
    width: 35%;
}

h1{
    text-align: center;
}

.Movies img{
    height: 400px;
    width: 300px;
    border-radius: 1.5cm;
}

